[Unit]
Description=Django demo service

[Service]
ExecStart=/home/{{default_user}}/.local/bin/pipenv run gunicorn test_project.wsgi -b 127.0.0.1:8000 -w 4 -k gthread  --thread 40 --max-requests 4096 --max-requests-jitter 512
WorkingDirectory={{django_demo_dir}}
Restart=on-failure

[Install]
WantedBy=default.target